.main {
  display: grid;
  grid-template-columns: 1fr 1fr;

  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em 1em;
  }

  input { min-width: 0; }
}

@media (max-width: 40rem) {
  .main {
    display: flex;
  }
}
