.main {
  align-items: center;

  section {
    position: relative;
    max-width: 32rem; width: 100%;
  }

  form {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0.5em 1em;

    input { min-width: 0; }
  }
}
