@use './theme.scss' as *;


* {
  box-sizing: border-box;
  font-family: Rubik, arial;
  color: $color;
}

body {
  margin: 0;
  background-color: $bg2;
}

main {
  margin: 0 auto;
  max-width: 50rem;
}
